div.user {
    border: 3px solid black;
    padding: 15px;
}
div.user div {
    cursor: pointer;
    background: #29817e;
    border: 1px double #4eefea;
}
div.user.selected {
    background-color: rgb(196, 78, 228);
}
